model/exp*/
model/logs/
model/utmos/
local/virtual_team_vctk
local/virtual_team_vctk_train
local/listening_test
local/real_abtest*
local/tmpfile
local/utmosv2
save/
submissions/
*.vscode/
*.ckpt
*nohup.out